watch_file ./modules/dev-shell.nix

if has nix; then
  use flake
fi

if [ -z "$GITHUB_TOKEN" ]; then
  nix run nixpkgs#gh auth status >/dev/null || nix run nixpkgs#gh auth login
  GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)"
  export GITHUB_TOKEN
fi

NIX_CONFIG=$(
  printf '%s = %s\n' \
    experimental-features "nix-command flakes pipe-operators" \
    access-tokens "github.com=$GITHUB_TOKEN"
)
export NIX_CONFIG
