#!/usr/bin/env bash

watch_file ./modules/dev-shell.nix

if [ -z "$GITHUB_TOKEN" ]; then
  nix run nixpkgs#gh auth status >/dev/null || nix run nixpkgs#gh auth login
  GITHUB_TOKEN="$(nix run nixpkgs#gh auth token)"
  export GITHUB_TOKEN
fi

NIX_CONFIG=$(
  printf '%s = %s\n' \
    experimental-features "nix-command flakes pipe-operators"
)
export NIX_CONFIG

export CGO_ENABLED=1

use flake
