#!/usr/bin/env bash

export NIX_CONFIG='
experimental-features = nix-command flakes pipe-operators
substituters = https://cache.nixos.org https://hyprland.cachix.org https://nvf.cachix.org
trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hyprland.cachix.org-1:a7pgxzMz7+chwVL3/pzj6jIBMioiJM7ypFP8PwtkuGc= nvf.cachix.org-1:GMQWiUhZ6ux9D5CvFFMwnc2nFrUHTeGaXRlVBXo+naI=
'

if has nix; then
  use flake
fi
